<p-dataView #teacher [value]="teachers" filterBy="name">
    <p-header>
        <div class=" wrapper"> 
            <span>Teachers</span> 
            <app-create-student (created)="saveNewTeacher($event)"></app-create-student>
        </div>
    </p-header>
    <ng-template let-teacher pTemplate="listItem">
        <div class="wrapper">
            <span (click)="showTeacherChildren(teacher._id)" title="Show students">
                {{teacher.name}}
            </span>
            <span class="button-wrapper">
                <span class="payed-wrapper">
                    <span class="payed-true">{{teacher.payed[0]}}</span>
                    <span class="payed-false">{{teacher.payed[1]}}</span>
                    <span class="payed-null">{{teacher.payed[2]}}</span>
                </span>
                <app-teacher-cell-menu 
                    [teacherName] = "teacher.name"
                    (Students)="showTeacherChildren(teacher._id)"
                    (removeTeacher)="deleteTeacher(teacher._id)"
                    (editTeacherName)="saveEditName(teacher._id, $event)"
                    (addNewStudent)="addNewStudent(teacher._id, $event)"
                ></app-teacher-cell-menu>
            </span>
            
        </div>
    </ng-template>
</p-dataView>


