.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    .teachers {
        margin: 10px;
        width: 350px;
    }

    .students {
        margin: 10px;
        width: 600px;
    }

}