.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    .teachers {
        margin: 10px;
        width: 30%;
    }

    .students {
        margin: 10px;
        width: 60%;
    }

}