<div class="form-wrapper">
    <form [formGroup]="employeeForm">
        <h3>Create new employee</h3>                
        <app-float-input 
            [class]="'lg-input'"
            [label]="'Full Name'"
            [type]="'string'"
            (value)="setEmployeeValue($event, 'fullName')"
            >
        </app-float-input>
        <div>
            <app-dropdown
                [items]="positions"
                (edit)="setEmployeeValue($event, 'position')"
            >
            </app-dropdown>
        </div>
        <div *ngIf="employeeForm.value.position === 'teacher'" class="teacher-wrapper">
            <app-dropdown
                [items]="educationSelection"
                (edit)="setEmployeeValue($event, 'education')"
            >
            </app-dropdown>
            <app-dropdown
                [items]="categories"
                (edit)="setEmployeeValue($event, 'category')"
            >
            </app-dropdown>
            <div class="combo-input">
                <div class="ui-float-label">
                    <input
                        type="number"
                        #year
                        formControlName="year"
                        pInputText
                        class="sm-input"
                        min="2010"
                        max="{{ nowYear }}"
                        (input)="setEmployeeValue(year.value, 'year')"
                    />
                    <label for="year">Year</label>
                </div>
                <div class="ui-float-label">
                    <input
                        type="number"
                        #experience
                        class="sm-input"
                        pInputText
                        formControlName="experience"
                        min="0"
                        max="60"
                        (input)="
                            setEmployeeValue(experience.value, 'experience')
                        "
                    />
                    <label for="experience">Experience</label>
                </div>
            </div>
            <div class="combo-input">
                <app-float-input 
                    [label]="'Teacher Hours'"
                    [type]="'number'"
                    [min]="'0'"
                    [max]="'40'"
                    (value)="setEmployeeValue($event, 'teachHours')"
                    >
                </app-float-input>
                <app-float-input 
                    [label]="'Concert. Hours'"
                    [type]="'number'"
                    [min]="'0'"
                    [max]="'40'"
                    (value)="setEmployeeValue($event, 'concertHours')"
                    >
                </app-float-input>
            </div>
            <div class="checkbox">
                <app-bool-checkbox
                    [(value)]="isTeachRank"
                    [label]="'Teacher Rank'"
                ></app-bool-checkbox>

                <div *ngIf="isTeachRank === true">
                    <app-dropdown
                        [items]="teacherRank"
                        (edit)="setEmployeeValue($event, 'teachRank')"
                    >
                    </app-dropdown>
                </div>
            </div>
            <div class="checkbox">
                <app-bool-checkbox
                    [(value)]="addingPosition"
                    [label]="'Additional position'"
                ></app-bool-checkbox>

                <div *ngIf="addingPosition">
                    <app-dropdown
                        [items]="additionalPositions"
                        (edit)="setEmployeeValue($event, 'additionalPositions')"
                    >
                    </app-dropdown>
                    <div class="combo-input">
                            <app-float-input 
                                class="sm-input"
                                [label]="'Teacher Hours'"
                                [type]="'number'"
                                [min]="'0'"
                                [max]="'40'"
                                (value)="setEmployeeValue($event, 'addTeachHours')"
                                >
                            </app-float-input>
                            <app-float-input 
                                class="sm-input"
                                [label]="'Concert. Hours'"
                                [type]="'number'"
                                [min]="'0'"
                                [max]="'40'"
                                (value)="setEmployeeValue($event, 'addConcertHours')"
                                >
                        </app-float-input>
                        </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <app-cancel-button (edit)="resetForm()"></app-cancel-button>
            <app-save-button (saved)="submitForm(employeeForm.value)"></app-save-button>
        </div>
    </form>
</div>
