.form-wrapper {
    margin: 20px;
    form {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        input.lg-input{
            width: 300px;
            height: 30px;
            margin: 30px 0 10px;
        }
        div.combo-input {
            display: flex;
            margin: 20px 0 10px;
            width: 300px;
            justify-content: space-between;

            .ui-float-input {
                .sm-input  {
                    width: 140px;
                }
            }
        }
        div.checkbox{
            align-items: center;
            flex-direction: column;
            margin: 10px 0;

            div {
                margin-top: 10px;
            }
        }
    }
}

.ui-inputtext.sm-input{
    width: 145px !important;
}