<button type="button" (click)="display = true" pButton icon="pi pi-info-circle" icon="pi pi-plus" class="but"></button>

<p-dialog [showHeader]="false"  [(visible)]="display" [modal]="true" [baseZIndex]="10000">
  <div class="wrapper">
    <h3>Create New Teacher</h3>
    <form [formGroup]="teacherForm">
      <div class="row">

          <span class="ui-float-label">
              <input 
                id="float-input" 
                type="text" 
                size="37"
                name="name" 
                id="name" 
                formControlName="name" 
                autocomplete="off" 
                required 
                pInputText> 
              <label for="float-input">Teacher Full Name</label>
          </span>
      </div>
      <div class="row">
        <button 
        pButton 
        label="Cancel" 
        (click)="cancel()" 
        class="ui-button-secondary"
        >
      </button>
        <button 
          label="Save" 
          pButton 
          (click)="save(teacherForm)" 
          class="ui-button-success"
         >
        </button>
      </div>
      <!-- <div formArrayName="students">
        <div
          *ngFor="let student of teacherForm.controls; let i = index">
          <div class="ui-grid-row">
            <span class="ui-grid-col-2"><b>Student {{ i + 1 }}</b></span>
            <p-button 
              (click)="removeSubject(i)" 
              class="ui-grid-col-2"
              styleClass="ui-button-danger" 
              label="Delete student {{ i + 1 }}">
            </p-button>
          </div>

          <div [formGroupName]="i">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">Student Full Name:</div>
              <input 
                type="text" 
                name="fullName" 
                class="ui-grid-col-4"
                id="fullName" 
                formControlName="fullName" 
                minlength="2"
                pInputText
                autocomplete="off" 
                required />
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">Student Class Name:</div>
              <input 
                type="number" 
                name="classNumber" 
                id="classNumber"
                class="ui-grid-col-4" 
                formControlName="classNumber" 
                pInputText
                min="1"
                max="9"
                autocomplete="off" 
                required />
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">Start study date:</div>
              <input 
                type="date" 
                name="startDate" 
                id="startDate"
                class="ui-grid-col-4" 
                formControlName="startDate" 
                pInputText
                autocomplete="off" 
                required />
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">Student Pay Type:</div>
              <p-selectButton 
                [options]="types" 
                class="ui-grid-col-6" 
                #butt
                (click)="butt.value === null ? 
                teacherForm.controls.students.controls[i].value.studentType = types[0].value : 
                teacherForm.controls.students.controls[i].value.studentType = butt.value" >
              </p-selectButton>
            </div>
          </div>
        </div>
      </div> -->
    </form>
  </div>
</p-dialog>

