<div class="wrapper">
    <span class="header">
        <h3>Students Pay Tarif</h3>
    </span>
    <p-table 
        [value]="list" 
        [loading]="loading" 
        [style]="{width: '300px'}" >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:200px">Label</th>
                <th style="width:100px">Options</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr (dblclick)="setModalDialogForEditing(item)">
                <td title="Dubble click for edit">{{item[0].pay}}</td>
                <td>
                    <i class="pi pi-pencil" (click)="setModalDialogForEditing(item)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<app-edit-pay-constant 
    *ngIf="status && status.id && display"    
    [display]="display" 
    [status]="status"
    (edited)="edit($event)"
    (closeDialog)="display = false; status = null">
</app-edit-pay-constant>
