<p-dialog [(visible)]="display" appendTo="body" [showHeader]="false"
    [modal]="true" draggable="false" [closable]="true"
    [style]="{'width':'370px', 'heigh':'350px'}">
    <div class="content-wrapper">
        <div class="header">
            <span *ngIf="status.id === 'new'">Create New Category</span>
            <span *ngIf="status.id !== 'new'">Edit Category</span>
        </div>

        <form [formGroup]="gradeForm">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" placeholder="Category" pInputText
                    formControlName="category" />
            </div>
            <div class="multy">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-arrow-up"></i></span>
                    <input type="number" placeholder="Grade" pInputText
                        formControlName="grade" />
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-dollar"></i></span>
                    <input type="number" placeholder="Salary" pInputText
                        formControlName="salary" />
                </div>
            </div>
        </form>
        <span class="button-wrapper">
            <app-cancel-button (cancel)="close()"></app-cancel-button>
            <app-save-button (saved)="edit()"></app-save-button>
        </span>
    </div>
</p-dialog>
