<div class="wrapper">
    <span class="header">
        <h3>Percents</h3>
        <i 
            class="pi pi-plus" 
            (click)="setModalDialogForCreation('new')"
            title="Click for create">
        </i>
    </span>
    <p-table 
        [value]="list" 
        [loading]="loading" 
        [style]="{width: '350px'}" >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:150px">Label</th>
                <th style="width:100px">Value</th>
                <th style="width:100px">Options</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td title="Dubble click for edit">{{item.label}}</td>
                <td title="Dubble click for edit">{{item.value}}</td>
                <td>
                    <i class="pi pi-pencil" (click)="setModalDialogForEditing(item)"></i>
                    <i class="pi pi-trash" (click)="setModalDialogForRemoving(item)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<app-add-percent 
    *ngIf="status && status.id && display"    
    [display]="display" 
    [status]="status"
    (create)="create($event)"
    (edited)="edit($event)"
    (closeDialog)="display = false; status = null">
</app-add-percent>

<app-modal-remove 
    *ngIf="remove && message"
    [display]="remove" 
    [message]="message" 
    [type]="'percent'"
    (delete)="delete(status.id)"
    (closeDialog)="remove=false; status=null">
</app-modal-remove>
    