<div [formGroup]="phoneNumber" class="ui-grid ui-grid-responsive ui-fluid">
  <div class="input">
    <label for="phone">Phone Number: </label>
    <input
      type="phone"
      #number
      pInputText
      required
      autocomplete="off"
      pattern="^[0-9]{5,8}$"
      [(ngModel)]="numberValue"
      formControlName="number"
    />
  </div>
  <div class="buttons">
    <button
      [routerLink]="['/address']"
      routerLinkActive="router-link-active"
      pButton
      type="button"
      label="Back"
      class="ui-button-info ui-g-12 ui-md-6 ui-lg-3"
    ></button>
    <button
      pButton
      type="button"
      label="Complete"
      class="ui-button-success ui-g-12 ui-md-6 ui-lg-3"
      [disabled]="phoneNumber.invalid"
      [routerLink]="['/result']"
      routerLinkActive="router-link-active"
      (click)="show()"
    ></button>
    <p-message
      severity="error"
      text="Phone Number is not required"
      *ngIf="
        phoneNumber.controls['number'].invalid &&
        phoneNumber.controls['number'].touched
      "
    ></p-message>
  </div>
</div>
