<h3>Custom Toolbar</h3>
<p-editor [(ngModel)]="title" class="custom_selection" [style]="{ height: '320px' }">
  <p-header>
    <span class="ql-formats">
      <button class="ql-bold" aria-label="Bold"></button>
      <button class="ql-italic" aria-label="Italic"></button>
      <button class="ql-underline" aria-label="Underline"></button>
    </span>
  </p-header>
</p-editor>
<p class="custom_selection">Value: {{ title || "empty" }}</p>

<button
  pButton
  type="button"
  label="Clear"
  icon="pi pi-times"
  (click)="title = null"
></button>
<div
  class="custom_selection"
  contenteditable="true"
  ngDefaultControl
  [(ngModel)]="title"
>
  {{ title }}
</div>
