.ui-button {
    width: 150px !important;
    margin-left: 5px;
}

.message {
    padding: 10px 0;
    font-size: 18px;
    text-align: center;

    .message-name {
    font-size: 22px;
    font-weight: bold;
    }
}

.btn-wrapper {
    margin-top: 10px;
}