<div [formGroup]="fullName" class="ui-grid ui-grid-responsive ui-fluid">
  <div class="input">
    <label for="firstName">First Name</label>
    <input
      type="text"
      id="firstName"
      pInputText
      autocomplete="off"
      required
      [(ngModel)]="firstNameValue"
      formControlName="firstName"
      pattern="^[a-zA-Z_-]{3,15}$"
    />
  </div>
  <div class="input">
    <label for="secondName">Second Name</label>
    <input
      type="text"
      id="secondName"
      pInputText
      autocomplete="off"
      [(ngModel)]="secondNameValue"
      formControlName="secondName"
      pattern="^[a-zA-Z_-]{3,15}$"
      required
    />
  </div>
  <div class="input">
    <label>
      <input
        type="file"
        #inputFile
        id="inputFile"
        accept="image/*"
        (change)="onFileChange($event)"
      />
    </label>
    <button
      pButton
      type="button"
      label="Choose file"
      class="ui-button-info "
      (click)="inputFile.click()"
    ></button>
  </div>
  <div class="buttons ">
    <!-- <button
      pButton
      type="button"
      label="Cancel"
      class="ui-button-secondary ui-g-12 ui-md-6 ui-lg-3"
      (click)="cancelButton()"
    ></button> -->
    <button
      pButton
      type="button"
      label="Next"
      class="ui-button-success ui-g-12 ui-md-6 ui-lg-3"
      [disabled]="fullName.invalid"
      [routerLink]="['../address']"
      routerLinkActive="router-link-active"
      (click)="show()"
    ></button>
    <div class="error">
      <p-message
        severity="error"
        text="First Name is not required"
        *ngIf="
          fullName.controls['firstName'].invalid &&
          fullName.controls['firstName'].touched
        "
      ></p-message>
      <p-message
        severity="error"
        text="Second Name is not required"
        *ngIf="
          fullName.controls['secondName'].invalid &&
          fullName.controls['secondName'].touched
        "
      ></p-message>
      <p-message
        severity="success"
        text="Image loaded"
        *ngIf="fullName.controls['image'].valid"
      ></p-message>
    </div>
  </div>
</div>
