
td, th  {
    text-align: center;
    font-size: 15px;
}

.green {
    background-color: #00C851;
}

.yellow {
    background-color: #ffbb33;
}

.grey {
    background-color: #cfd8dc;
}
.blue {
    background-color: #81d4fa;
}