<div class="wrapper">
    <span class="header">
        <h3>Teacher's Categories</h3>
        <i class="pi pi-plus" (click)="setModalDialogForCreation('new')"></i>
    </span>
    <p-table [value]="gradeList">
            <ng-template pTemplate="header">
                    <tr>
                        <th style="width:40%">Category</th>
                        <th>Grade</th>
                        <th>Salary</th>
                        <th>Options</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-grade>
                    <tr>
                        <td>{{grade.category}}</td>
                        <td>{{grade.grade}}</td>
                        <td>{{grade.salary}}</td>
                        <td>
                            <i class="pi pi-pencil" (click)="setModalDialogForEdition(grade)"></i>
                            <i class="pi pi-trash"></i>
                        </td>
                    </tr>
                </ng-template>
    </p-table>
</div>

<app-add-teacher-categories 
    *ngIf="status && status.id"
    [status]="status" 
    [display]="display" 
    (closeDialog)="display = false" 
    (updatedList)="gradeList = $event">
</app-add-teacher-categories>
    