<table>
    <tr>
        <th *ngFor="let month of monthArr">{{month}}</th>
    </tr>
    <tr *ngIf="student.studentType === 'contract'">
        <td 
            *ngFor="let item of arr; let i = index;" 
            [ngStyle]=
                "{'background-color':item === 50 
                    ? '#00C851' : (item === 0 ? '#cfd8dc' : '#ffbb33')}">
            {{item}}
        </td>
    </tr>
    <tr *ngIf="student.studentType !== 'contract'">
        <td 
            *ngFor="let item of arr; let i = index;" 
            [ngStyle]=
                "{'background-color':item === 50 
                    ? '#00C851' : (item === 0 ? '#81d4fa' : '#81d4fa')}">
            {{item}}
        </td>
    </tr>
</table>

        