@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

input{
    margin: 10px 0;
}

.buttons{
    margin: 10px 10px;
    width: 97%;
}

.buttons button {
    width: 48%;
}

.input {
    margin: 10px 10px;
}

html {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    // background-color: rgb(110, 106, 106);
}

div.error{
    margin: 10px 0;
}

body .ui-panelmenu .ui-panelmenu-header > a {
    background-color: #fff;
}

body .ui-inputtext {
    width: 300px !important;
}

body .ui-inputgroup .ui-inputgroup-addon {
    border: none;
    border-bottom: 1px solid black;
    background-color: #fff;
    padding: 0;
    display: inline-block;
    text-align: center;

    &:first-child {
        border-radius: 0;
    }

    i{
        margin-right: 5px;

        &.fa {
            font-size: 17px;
            padding-top: 15px;
        }

        &.pi {
            font-size: 20px;
            padding-top: 13px;
        }
        
    }


}

body .ui-table .ui-table-thead > tr > th {
    background-color: rgb(143, 188, 143) !important;
}
.pi-bars {
    margin: 5px;
    color: rgb(129, 129, 129);
}

body .pi {
    font-size: 25px;
    cursor: pointer;
}
.header {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
