.ui-helper-clearfix {
   display: flex;
   flex-direction: column;
}
.submenu {
    color: rgb(110, 110, 110);
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .data {
        .pay {
            text-align: center;
        }
    }
}
