<p-dataView  *ngIf="studentList" [value]="studentList">
    <p-header>
        <div class="ui-helper-clearfix ui-grid-row">
            <span class="ui-grid-col-12">Students</span>
            <span class="ui-grid-col-12">
                <span class="ui-grid-col-9 submenu">
                    <span class="ui-grid-col-6">Name</span>
                    <span class="ui-grid-col-2">Type</span>
                    <span class="ui-grid-col-2">Payed</span>
                    <span class="ui-grid-col-2">Class</span>
                </span>
                <span class="ui-grid-col-3"></span>
            </span>
        </div>
    </p-header>
    
    <ng-template let-student pTemplate="listItem">
        <div class="wrapper">
            <span class="data ui-grid-col-9">
                <span class="ui-grid-col-6">{{student.fullName}}</span>
                <span class="ui-grid-col-2">{{student.studentType}}</span>
                <span class="ui-grid-col-2 pay" >
                    <span *ngIf="student.studentType === 'contract'" (click)="table.show($event)">{{student.pay}}</span>
                    <span *ngIf="student.studentType !== 'contract'">-/-</span>
                    <p-overlayPanel #table [dismissable]="true" [showCloseIcon]="true" [appendTo]="'body'">
                        <app-payed-table [student]="student"></app-payed-table>
                    </p-overlayPanel>
                </span>
                <span class="ui-grid-col-2 pay">{{student.classNumber}}</span>
            </span>
            <app-student-row-menu
                class="button-wrapper"
                [student]="student"
                (changed)="editStudent($event)"
                (removed)="deleteStudent($event)"
            ></app-student-row-menu>
        </div>
    </ng-template>
</p-dataView>
